{% extends 'base.html' %}

{% block title %}Expense Categories{% endblock %}

{% block content %}
<div>
    <h1>Expense Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.num_receipts }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No categories found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
